<section class="favourite_exercises section">
  <div class="container">
    <h2 class="section_title">Favorites</h2>
    <div class="favorites-container">
      <div class="quote-container">
        <div class="quote"></div>
        <div class="quote-bottom-container">
          <div class="main-text">
            <svg width="20" height="20" class="main-text-icon">
              <use href="/coursework/symbol-defs.svg#icon-gym"></use>
            </svg>
            <div>
              <h3 class="main-text-title">110 min</h3>
              <p class="main-text-subtitle">Daily norm of sports</p>
            </div>
          </div>
          <div class="image-wrapper">
          <img
            src="/img/favourite-1x.webp"
            srcset="/img/favourite-1x.webp 1x, /img/favourite-2x.webp 2x"
            alt="women"
            fetchpriority="high"
          />
        </div>
        </div>
      </div>
      <div class="scrollbar_custom">
        <ul class="fav_card_list"></ul>
        <ul class="pagination-cards"></ul>
        <div class="no_cards_wrapper-container visually-hidden">
          <p class="no_cards_wrapper visually-hidden">
            It appears that you haven't added any exercises to your favorites
            yet. To get started, you can add exercises that you like to your
            favorites for easier access in the future.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
