:root {

  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  --white-color: #f4f4f4;
  --full-white-color: #ffffff;
  --black-color: #242424;
  --light-gray-color: #C6CDD1;
  --gray-color: #D4D4D4;
  --white-10: rgba(244, 244, 244, 0.1);
  --white-20: rgba(244, 244, 244, 0.2);
  --white-40: rgba(244, 244, 244, 0.4);
  --white-60: rgba(244, 244, 244, 0.6);
  --black-10: rgba(36, 36, 36, 0.1);
  --black-60: rgba(36, 36, 36, 0.6);
  --black-40: rgba(36, 36, 36, 0.4);
  --orange-color: #EEA10C;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: var(--black-color);
}


body {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: var(--white-color);
}

main {
  flex-grow: 1;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}
