.exr-card-backdrop .not-scrollable {
  overflow: hidden;
}

.exr-card-backdrop .star-rating-list {
  display: flex;
  gap: 2px;
}

.exr-card-backdrop .star-rating-list li {
  display: flex;
  align-items: center;
}

.exr-card-backdrop .rating-score {
  margin-right: 2px;
  color: var(--white-color);
  font-size: 12px;
  line-height: 18px;
}

.exr-card-backdrop .star-rating-icon {
  fill: var(--white-20);
  transform: translateY(-2px);
}

.exr-card-backdrop .rating-container {
  display: flex;
  border-bottom: 1px solid var(--white-20);
  padding-bottom: 16px;
}

.exr-card-backdrop {
  width: 100vw;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.exr-card-backdrop .exercise-name {
  color: var(--white-color);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 8px;
}

.exr-card-backdrop .exr-card-cont {
  border-radius: 20px;
  background: var(--black-color);
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  z-index: 999;
  transition: transform 400ms ease-in-out;
  padding: 32px;
  width: 708px;
  transform: translate(-50%, -50%);
  gap: 32px;
}

.exr-card-backdrop.card-is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.exr-card-backdrop .close-card-button {
  position: absolute;
  top: 16px;
  right: 16px;
}

.exr-card-backdrop .close-card-button svg {
  stroke: var(--white-color);
  width: 28px;
  height: 28px;
}

.exr-card-backdrop .exr-image {
  border-radius: 12px;
  width: 270px;
  height: 259px;
  opacity: 0.8;
}

.exr-card-backdrop .exr-information-container {
  padding: 8px 0;
  border-bottom: 1px solid var(--white-20);
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.exr-card-backdrop .info-label {
  color: var(--white-40);
  font-size: 12px;
  line-height: 18px;
}

.exr-card-backdrop .exr-info {
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.exr-card-backdrop .exr-description {
  color: var(--white-60);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 64px;
}

.exr-card-backdrop .add-favourite-btn {
  width: 194px;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background: var(--white-color);
  color: var(--black-color);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.exr-card-backdrop .heart-icon {
  width: 18px;
  height: 18px;
  stroke: var(--black-color);
  fill: transparent;
}

.exr-card-backdrop .give-rating-btn {
  width: 141px;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: transparent;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.exr-card-backdrop .buttons-cont {
  display: flex;
  gap: 7px;
  min-width: 342px;
  justify-content: space-evenly;
}

@media (max-width: 1439px) {
  .exr-card-backdrop .exr-card-cont {
    width: 704px;
  }
}

@media (max-width: 767px) {
  .exr-card-backdrop .close-card-button svg {
    width: 24px;
    height: 24px;
  }
  .exr-card-backdrop .close-card-button {
    top: 14px;
    right: 14px;
  }
  .exr-card-backdrop .exr-card-cont {
    flex-direction: column;
    width: 335px;
    padding: 40px 20px;
    gap: 20px;
    margin-top: 60px;
  }
  .exr-card-backdrop .exr-image {
    width: 295px;
    height: 258px;
  }
  .exr-card-backdrop .exercise-name {
    font-size: 20px;
    line-height: 20px;
  }
  .exr-card-backdrop .exr-description {
    margin-bottom: 52px;
  }
  .exr-card-backdrop .buttons-cont {
    gap: 10px;
    flex-direction: column;
    width: 100%;
    min-width: unset;
  }
  .exr-card-backdrop .add-favourite-btn {
    width: 100%;
  }
  .exr-card-backdrop .give-rating-btn {
    width: 100%;
  }
}
