.favourite_exercises .exercise-information {
  padding: 16px;
  width: 405px;
  min-height: 141px;
  height: 100%;
  background: var(--full-white-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.favourite_exercises .exercise-information .top-nav {
  display: flex;
  justify-content: space-between;
}

.favourite_exercises .exercise-information .top-nav div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.favourite_exercises .exercise-information .tag {
  font-size: 12px;
  line-height: 100%;
  color: var(--black-color);
  margin: 0;
  padding: 5px 8px;
  border: 1px solid var(--black-color);
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.favourite_exercises .exercise-information .details-link {
  color: var(--black-color);
  display: flex;
  align-items: center;
  gap: 8px;
}

.favourite_exercises .exercise-information .arrow-icon {
  stroke: var(--black-color);
  flex-shrink: 0;
}
.favourite_exercises .exercise-information .exercise-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 25px;
}

.favourite_exercises .exercise-information .icon-man {
  flex-shrink: 0;
  fill: var(--white-color);
  background-color: var(--black-color);
  border-radius: 50%;
  padding: 4px;
}

.favourite_exercises .exercise-information .trash-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favourite_exercises .exercise-information .trash-icon {
  flex-shrink: 0;
  stroke: var(--black-color);
  fill: transparent;
}

.favourite_exercises .exercise-information .trash-icon use {
  margin: auto;
}

.favourite_exercises .exercise-information .icon-man use {
  margin: auto;
}

.favourite_exercises .exercise-information .exercise-name {
  font-size: 24px;
  line-height: 32px;
  color: var(--black-color);
  font-weight: 400;
}

.favourite_exercises .exercise-information .exercise-details {
  margin-top: 8px;
  font-size: 12px;
  line-height: 18px;
  color: var(--black-color);
  display: flex;
  gap: 16px;
}

.favourite_exercises .exercise-information .exercise-details span {
  color: var(--black-40);
}

.visually-hidden {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.favourite_exercises .quote {
  padding: 40px;
  background: var(--black-color);
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.favourite_exercises .quote-text-icon {
  padding: 6px 7px;
  background-color: var(--white-20);
  fill: var(--white-color);
  border-radius: 50%;
  flex-shrink: 0;
}

.favourite_exercises .quote div {
  position: relative;
}

.favourite_exercises .quote-text-icon-commas {
  fill: var(--white-color);
  position: absolute;
  top: 0;
  right: 0;
}

.favourite_exercises .quote .main-quote-title {
  font-size: 24px;
  line-height: 32px;
  color: var(--white-color);
  font-weight: 500;
  letter-spacing: 0px;
}

.favourite_exercises .quote .main-quote-text {
  font-size: 14px;
  line-height: 18px;
  color: var(--white-60);
  margin-top: 6px;
}

.favourite_exercises .quote .main-quote-author {
  color: var(--white-color);
  margin-top: 18px;
}

.favourite_exercises .scrollbar_custom {
  height: calc(100vh - 108px - 88px);
  min-height: 353px;
  width: 100%;
  overflow-y: auto;
  
}

.favourite_exercises .scrollbar_custom::-webkit-scrollbar {
  width: 8px;
  background-color: var(--black-10);
}

.favourite_exercises .scrollbar_custom::-webkit-scrollbar-thumb {
  color: var(--black-10);
  background-color: var(--black-color);
  border-radius: 10px;
}

.favourite_exercises .scrollbarcustom::-webkit-scrollbar-track {
  background-color: var(--black-10);
}
.favourite_exercises .favorites-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  position: relative;
  height: 100%;
}

.favourite_exercises .fav_card_list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 16px;
}

.favourite_exercises .quote-container {
  width: 494px;
  flex-shrink: 0;
}

.favourite_exercises .main-text {
  padding:25px;
  background: var(--full-white-color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: calc(50% - 8px);
}

.favourite_exercises .main-text-icon {
  fill: var(--black-color);
  flex-shrink: 0;
}

.favourite_exercises .main-text .main-text-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 0px;
}

.favourite_exercises .main-text .main-text-subtitle {
  font-size: 14px;
  line-height: 18px;
  color: var(--black-60);
  margin-top: 6px;
}

.favourite_exercises .quote-bottom-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.favourite_exercises .quote-bottom-container .image-wrapper {
  width: calc(50% - 8px);
  border-radius: 20px;
  height: 141px;
}
.favourite_exercises .quote-bottom-container .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}
.favourite_exercises .section_title {
  font-size: 44px;
  line-height: 48px;
  font-weight: 400;
  margin-bottom: 32px;
}

.favourite_exercises .no_cards_wrapper {
  text-align: center;
  width: 554px;
}

.favourite_exercises .no_cards_wrapper-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.favourite_exercises .pagination-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20px;

}

.favourite_exercises .pagination-btn {
  font-size: 24px;
  line-height: 32px;
  color: var(--gray-color);
  cursor: pointer;
}

.favourite_exercises .pagination-btn.active {
  color: var(--black-color);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black-color);
  border-radius: 50%;
}


@media (max-width: 1439px) {
  .favourite_exercises .scrollbar_custom .no_cards_wrapper {
    margin: 0;
  }
  .favourite_exercises .pagination-cards {
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 80px;
  }
  .favourite_exercises .favorites-container {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .favourite_exercises .quote-container {
    width: 100%;
  }

  .favourite_exercises .scrollbar_custom {
    height: unset;
    max-height: unset;
    overflow-y: unset;
  }
  .favourite_exercises .exercise-information {
    width: 344px;
  }

}

@media (max-width: 767px) {
  .favourite_exercises .exercise-information {
    width: 100%;
  }
  .favourite_exercises .quote-bottom-container {
    margin-top: 20px;
    gap: 20px;
    flex-direction: column;
  }
  .favourite_exercises .quote-bottom-container .image-wrapper {
    width: 100%;
    height: 119px;
  }
  .favourite_exercises .main-text {
    width: 100%;
  }
  .favourite_exercises .quote {
    padding: 20px;
    gap: 18px;
  }
  .favourite_exercises .main-text {
    padding: 20px;
  }
  .favourite_exercises .main-text .main-text-title {
    font-size: 20px;
    line-height: 20px;
  }
  .favourite_exercises .quote .main-quote-title {
    font-size: 20px;
    line-height: 20px;
  }
  .favourite_exercises .section_title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  .favourite_exercises  {
    margin-top: 80px;
  }
}