.footer {
  background: var(--black-color);
  padding: 64px 0px 16px 0px;
}

.footer .social-media-icon {
  fill: var(--white-color);
  opacity: 80%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--white-10);
  box-sizing: content-box;
}

.footer .social-media-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-top: 32px;
}

.footer .logo-icon {
  fill: var(--white-color);
}

.footer .container {
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 328px;
}

.footer .bottom-text {
  font-size: 14px;
  line-height: 18px;
  color: var(--light-gray-color);
  margin-top: auto;
}

.footer .title-text {
  font-size: 56px;
  line-height: 60px;
  font-weight: 400;
  color: var(--white-color);
  font-style: italic;
  width: 595px;
}

.footer .footer-main-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 115px;
}

.footer .footer-subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer .footer-subscribe-form label {
  color: var(--white-color);
  font-family: 'DM Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer .footer-input::placeholder {
  color: var(--white-60);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.footer .footer-input {
  width: 352px;
  box-sizing: border-box;
  background-color: transparent;
  padding: 12px 14px;
  border-radius: 30px;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  font-size: 16px;
  line-height: 24px;
}

.footer .footer-send-button {
  width: 352px;
  border-radius: 30px;
  background: var(--white-color);
  padding: 12px 157px;
  border: none;
  color: var(--black-color);
  font-family: 'DM Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.footer .bottom-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
}

.footer .bottom-text-second {
  width: 550px;
}

.footer .bottom-text-last {
  width: 352px;
}

.footer .footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1439px) {
  .footer .footer-main-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
  }
  .footer .footer-main {
    gap: 114px;
  }

  .footer .bottom-text-second {
    width: 300px;
  }

  .footer .bottom-text-last {
    width: auto;
  }
  .footer .bottom-text-container {
    margin-top: 64px;
  }
  .footer .title-text {
    width: unset;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 40px 0px 10px 0px;
  }
  .footer .container {
    padding: 0px 20px 0px 20px;
  }
  .footer .social-media-list {
    margin-top: 20px;
  }
  .footer .footer-main {
    flex-direction: column;
    gap: 40px;
  }
  .footer .title-text {
    font-size: 38px;
    line-height: 44px;
    font-style: normal;
    width: unset;
  }
  .footer .title-text span {
    font-style: italic;
  }
  .footer .footer-main-group {
    gap: 20px;
  }
  .footer .footer-subscribe-form label {
    font-size: 14px;
    line-height: 18px;
  }
  .footer .bottom-text-container {
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .footer .bottom-text {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
  .footer .bottom-text:nth-child(3) {
    width: 10%;
  }

  .footer .bottom-text-second {
    width: unset;
  }
  .footer .bottom-text-last {
    width: unset;
  }
  .footer .footer-send-button {
    width: 100%;
    padding: 12px 57px;
  }
  .footer .footer-input {
    width: 100%;
  }
}
