@import 'modern-normalize/modern-normalize.css';

@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

@import url('./header.css');
@import url('./footer.css');
@import url('./main_section.css');
@import url('./exercises.css');
@import url('./rate.css');
@import url('./exercises_card.css');
@import url('./favourite_exercises.css');

